@keyframes blinkLetters-1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeLettersAnimation1 {
  0% {
    content: '%^&*#@#%';
  }
  4% {
    content: '$^&*$#!(';
  }
  8% {
    content: '&*#$?!@&';
  }
  12% {
    content: '!@#$%^&*';
  }
  16% {
    content: '#@#$%^&*';
  }
  20% {
    content: '^&*>#%&';
  }
  24% {
    content: '%^&*#@#$';
  }
  28% {
    content: '@^&*№!!';
  }
  32% {
    content: 'р%!"$!^&';
  }
  36% {
    content: 'ра@#$%^&';
  }
  40% {
    content: 'раз#$%^&';
  }
  44% {
    content: 'разг%^*!';
  }
  48% {
    content: 'разго%^&';
  }
  52% {
    content: 'разгад&*';
  }
  56% {
    content: 'разгада!';
  }
  60% {
    content: 'разгадай';
  }
  100% {
    content: 'разгадай';
  }
}
@keyframes changeLettersAnimation2 {
  0% {
    content: '!@#$';
  }
  4% {
    content: '$%&!';
  }
  8% {
    content: '$%^@';
  }
  12% {
    content: '$%@$';
  }
  16% {
    content: '%^@#';
  }
  20% {
    content: '&@#%';
  }
  24% {
    content: '#$%^';
  }
  28% {
    content: 'с&';
  }
  32% {
    content: '#$%^';
  }
  36% {
    content: '$%^$';
  }
  40% {
    content: 'м%^$';
  }
  44% {
    content: 'ме%^';
  }
  48% {
    content: 'мен!';
  }
  52% {
    content: 'меня';
  }
  52%,
  100% {
    content: 'меня';
  }
}

@keyframes animationTransition {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -199vw;
  }
}
@keyframes animationTransitionText {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -86vw;
  }
}
