@keyframes blinkLetters-1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes changeLettersAnimation {
  0% {
    content: '&**@^%@@';
  }
  4% {
    content: '&**(^%@@';
  }
  100% {
    content: 'разгадай';
  }
}

@keyframes animationTransition {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -199vw;
  }
}
@keyframes animationTransitionText {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -86vw;
  }
}
