* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Fixedsys';
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
}

/* первый экран  */
.scene {
  position: relative;
  width: 100vw;
  height: 55vw;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
  z-index: 1;
}

.big-overlay-texts {
  color: #ff5599;
  font-size: 21vw;
}
.big-overlay-text-top {
  position: absolute;
  left: 7.5vw;
  top: 1vw;
  z-index: -1;
}

.animated-text1 {
  position: relative;
  display: inline-block;
}

.animated-text1::before {
  content: '!@#$%^&*';
  animation: changeLettersAnimation1 3s linear infinite;
}

.big-overlay-text-bottom {
  position: absolute;
  left: 29vw;
  top: 32vw;
  z-index: -1;
}
.animated-text2 {
  position: relative;
  display: inline-block;
}

.animated-text2::before {
  content: '%^&*';
  animation: changeLettersAnimation2 3s linear infinite;
}

.letters {
  font-size: 4vw;
  color: #ffd9e8;
  cursor: pointer;
}

.letter1,
.letter3,
.letter5,
.letter7,
.letter9,
.letter11,
.letter13,
.letter15,
.letter17,
.letter19 {
  position: absolute;
  animation: blinkLetters-1 4s linear infinite;
}
.letter2,
.letter4,
.letter6,
.letter8,
.letter10,
.letter12,
.letter14,
.letter16,
.letter18 {
  position: absolute;
  animation: blinkLetters-1 3s linear infinite;
}

.letter1 {
  top: 1.5vw;
  left: 18vw;
}
.letter2 {
  top: 4vw;
  left: 42vw;
}
.letter3 {
  top: 1.5vw;
  left: 72vw;
}
.letter4 {
  top: 14vw;
  left: 3vw;
}
.letter5 {
  top: 8vw;
  left: 95vw;
}

.letter6 {
  top: 21vw;
  left: 20vw;
}
.letter7 {
  top: 29vw;
  left: 30vw;
}
.letter8 {
  top: 38vw;
  left: 17vw;
}
.letter9 {
  top: 29vw;
  left: 6vw;
}
.letter10 {
  top: 49vw;
  left: 23vw;
}
.letter11 {
  top: 50vw;
  left: 4vw;
}
.letter12 {
  top: 50vw;
  left: 46vw;
}
.letter13 {
  top: 50vw;
  left: 69vw;
}
.letter14 {
  top: 44vw;
  left: 78vw;
}
.letter15 {
  top: 50vw;
  left: 95vw;
}
.letter16 {
  top: 34vw;
  left: 87vw;
}
.letter17 {
  top: 27vw;
  left: 70vw;
}
.letter18 {
  top: 26vw;
  left: 96vw;
}
.letter19 {
  top: 20vw;
  left: 82vw;
}
/* пиксельный переход  */
.transition1 {
  position: relative;
  width: 100vw;
  height: 14.9vw;
}
.transition1_1 {
  width: 100vw;
  height: 15vw;
  background-image: url('../static/images/line.svg');
  background-repeat: no-repeat;
  background-size: 200vw;
  animation: animationTransition 1s steps(2) infinite;
  animation-play-state: running;
}

/* <!------- 1 игра -------> */
.first_game {
  position: relative;
  width: 100vw;
  height: 60vw;
  background-color: #9ce58f;
}
.big_flex_first_game {
  display: flex;
  flex-direction: row;
  gap: 6vw;
  padding: 4vw;
}

/* левая сторона флекса */
.left_flex_first_game {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  width: 43vw;
  height: 50vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
}
.text {
  width: 46vw;
  height: 14vw;
  background-image: url('../static/images/msg1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5.7vw 2vw 0 2vw;
}

#text_left_top_1 {
  font-family: 'Fixedsys';
  font-weight: normal;
  font-style: normal;
  color: #ff4a8c;
  font-size: 2vw;
}
.screen_with_progressbar {
  display: flex;
  flex-direction: row;
  width: 43vw;
  height: 30vw;
}
.screen {
  width: 61vw;
  height: 33vw;
  background-image: url('../static/images/answer_1.svg');
  background-size: 101vw;
  background-repeat: no-repeat;
  /* animation: animationScreenChange 10s steps(2) infinite;
  animation-play-state: running; */
}
.progressbar {
  width: 16.9vw;
  height: 31vw;
  background-image: url('../static/images/progressbar.svg');
  background-size: 116vw;
  background-repeat: no-repeat;
  /* animation: animationProgressBarChange 10s steps(2) infinite;
  animation-play-state: running; */
}

/* правая сторона флекса */
.right_flex_first_game {
  display: flex;
  flex-direction: column;
  gap: 3.5vw;
  width: 43vw;
  height: 50vw;
}
.top_keyboard_with_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
  width: 43vw;
  height: 24vw;
}
.text_right_top {
  width: 43vw;
  height: 5vw;
  background-image: url('../static/images/text_transition.svg');
  background-size: 86vw;
  background-repeat: no-repeat;
  animation: animationTransitionText 1s steps(2) infinite;
  animation-play-state: running;
}
#text_right_top_1 {
  font-family: 'Fixedsys';
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
  color: #ff4a8c;
  text-align: center;
  padding-top: 1.7vw;
}
.top_keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  width: 45.3vw;
  height: 17.3vw;
  background-image: url('../static/images/background_keyboard.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1vw 3.65vw 2vw;
}
.line_keyboard_1 {
  position: absolute;
  width: 42.9vw;
  height: 2vw;
  top: 16.24vw;
  left: 52.7vw;
  z-index: 3;
}
.line_keyboard_2 {
  position: absolute;
  width: 43vw;
  height: 3vw;
  top: 23.4vw;
  left: 53vw;
  z-index: 3;
}

.top_keyboard_firstline_buttons {
  display: flex;
  flex-direction: row;
  width: 43vw;
  height: 8vw;
  gap: 2vw;
}

.btn {
  width: 6vw;
  height: 6vw;
}

.button_pressed {
  padding-top: 1vw;
}

.top_keyboard_secondline_buttons {
  display: flex;
  flex-direction: row;
  width: 43vw;
  height: 8vw;
  gap: 2vw;
}

.bottom_keyboard_with_text {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  width: 43vw;
  height: 24vw;
  justify-content: center;
  align-items: center;
}

.bottom_keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  width: 45.3vw;
  height: 17.3vw;
  background-image: url('../static/images/background_keyboard.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1vw 3.65vw 2vw;
}
.bottom_keyboard_firstline_buttons {
  display: flex;
  flex-direction: row;
  width: 43vw;
  height: 8vw;
  gap: 2vw;
}
.bottom_keyboard_secondline_buttons {
  display: flex;
  flex-direction: row;
  width: 43vw;
  height: 8vw;
  gap: 2vw;
}
.line_keyboard_3 {
  position: absolute;
  width: 42.9vw;
  height: 2vw;
  top: 43.5vw;
  left: 52.7vw;
  z-index: 3;
}
.line_keyboard_4 {
  position: absolute;
  width: 43vw;
  height: 3vw;
  top: 50.6vw;
  left: 53.09vw;
  z-index: 3;
}
.text_right_bottom {
  width: 43vw;
  height: 5vw;
  background-image: url('../static/images/text_transition.svg');
  background-size: 86vw;
  background-repeat: no-repeat;
  animation: animationTransitionText 1s steps(2) infinite;
  animation-play-state: running;
}
#text_right_botton_1 {
  font-family: 'Fixedsys';
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
  color: #ff4a8c;
  text-align: center;
  padding-top: 1.7vw;
}

/* <!------- пиксельный переход -------> */
.transition2 {
  position: relative;
  width: 100vw;
  height: 14.9vw;
}
.transition2_1 {
  width: 100vw;
  height: 15vw;
  background-image: url('../static/images/line2.svg');
  background-repeat: no-repeat;
  background-size: 200vw;
  animation: animationTransition 1s steps(2) infinite;
  animation-play-state: running;
}

/* <!------- 2 игра -------> */
.second_game {
  position: relative;
  width: 100vw;
  height: 60vw;
  background-color: #ffffff;
}

.alphabet {
  position: absolute;
  z-index: 100;
  width: 70vw;
  height: auto;
  margin-left: 15vw;
  margin-top: 7.7vw;
}

.alphabet_hidden {
  display: none;
}

.close_alphabet {
  position: absolute;
  z-index: 110;
  width: 3.6vw;
  height: 3.6vw;
  margin-left: 16.5vw;
  margin-top: 9.2vw;
}

.big_flex_second_game {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  padding: 4vw;
}

/* левая сторона флекса */
.left_flex_second_game {
  display: flex;
  flex-direction: column;
  width: 49vw;
  height: 60vw;
}
.msg_alphabet_button {
  display: flex;
  flex-direction: row;
  width: 49vw;
  height: 14vw;
}
.msg2 {
  width: 42vw;
  height: 14vw;
  background-image: url(../static/images/msg2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.msg2 p {
  font-family: 'Fixedsys';
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
  color: #45893a;
  padding-top: 4.1vw;
  padding-left: 2.5vw;
}

.alphabet_button {
  width: 6vw;
  height: 6vw;
  background-image: url(../static/images/button_alphabet.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.words_answer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 49vw;
  height: 34vw;
}
.words {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 39vw;
  height: 40vw;
}
.answers {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  width: 9vw;
  height: 40vw;
  padding-top: 2.9vw;
}
.answer_word {
  display: flex;
  flex-direction: row;
  gap: 1.15vw;
  width: 39vw;
  height: 19vw;
  padding-top: 5.3vw;
  padding-left: 2vw;
  background-size: 39vw;
  background-repeat: no-repeat;
}
.word1 {
  background-image: url(../static/images/conteiner1.svg);
}
.word2 {
  background-image: url(../static/images/conteiner2.svg);
}
.word3 {
  background-image: url(../static/images/conteiner3.svg);
}

.answer_word img {
  width: 5vw;
  height: 5vw;
}

.word3 img {
  width: 5vw;
  height: 5vw;
}

.answer_second_game1,
.answer_second_game2,
.answer_second_game3 {
  width: 9vw;
  height: 18vw;
  background-size: 27vw;
  background-repeat: no-repeat;
}
.answer_second_game1 {
  background-image: url(../static/images/answer1_2.svg);
}
.answer_second_game2 {
  background-image: url(../static/images/answer2_2.svg);
}
.answer_second_game3 {
  background-image: url(../static/images/answer3_2.svg);
}
/* правая сторона флекса */
.right_flex_second_game {
  display: flex;
  width: 40vw;
  height: 60vw;
  background-image: url(../static/images/case.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.right_flex_second_game img {
  position: absolute;
  width: 5.5vw;
  height: 5.5vw;
  cursor: move;
}
.draggable {
  position: absolute;
  cursor: grab;
  user-select: none;
  z-index: 10;
  pointer-events: auto;
  touch-action: none;
}
.draggable:active {
  cursor: grabbing;
}

.letter_o1 {
  top: 9vw;
  left: 61vw;
  rotate: 29deg;
}
.letter_ye1 {
  top: 8vw;
  left: 73vw;
  rotate: 6deg;
}
.letter_t1 {
  top: 10vw;
  left: 86vw;
  rotate: 17deg;
}
.letter_v1 {
  top: 21vw;
  left: 60vw;
  rotate: -14deg;
}
.letter_b1 {
  top: 16vw;
  left: 68vw;
  rotate: -29deg;
}
.letter_k1 {
  top: 18vw;
  left: 78vw;
  rotate: -15deg;
}
.letter_o2 {
  top: 21vw;
  left: 87vw;
  rotate: -7deg;
}
.letter_ya1 {
  top: 30vw;
  left: 63vw;
  rotate: 30deg;
}
.letter_ts1 {
  top: 26vw;
  left: 73vw;
  rotate: -34deg;
}
.letter_b2 {
  top: 30vw;
  left: 83vw;
  rotate: 10deg;
}
.letter_yo1 {
  top: 40vw;
  left: 61vw;
  rotate: -39deg;
}
.letter_z1 {
  top: 37vw;
  left: 70vw;
  rotate: 10deg;
}
.letter_ye2 {
  top: 38vw;
  left: 79vw;
  rotate: -19deg;
}
.letter_a1 {
  top: 41vw;
  left: 87vw;
  rotate: -44deg;
}
.letter_o3 {
  top: 48vw;
  left: 60vw;
  rotate: 20deg;
}
.letter_r1 {
  top: 49vw;
  left: 85vw;
  rotate: -19deg;
}
.letter_l1 {
  top: 46vw;
  left: 77vw;
  rotate: -5deg;
}
.letter_k2 {
  top: 48vw;
  left: 68vw;
  rotate: 39deg;
}
/* <!------- пиксельный переход -------> */

.transition3 {
  position: relative;
  width: 100vw;
  height: 14.9vw;
}
.transition3_1 {
  width: 100vw;
  height: 15vw;
  background-image: url('../static/images/line.svg');
  background-repeat: no-repeat;
  background-size: 200vw;
  animation: animationTransition 1s steps(2) infinite;
  animation-play-state: running;
}

/* <!------- 3 игра -------> */
.third_game {
  position: relative;
  width: 100vw;
  height: 40vw;
  background-color: #9ce58f;
}

.big_flex_third_game {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  padding: 2vw;
}

.left_flex_third_game {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 52vw;
  height: 36vw;
  background-image: url('../static/images/quiz_background1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 6vw 7vw 7vw 5.8vw;
}

/* <!---- квиз ----> */

.question-container {
  display: flex;
  flex-direction: column;
}

.question-number {
  margin: 0;
  padding: 0;
  font-size: 1.4vw;
  color: #fcacc9;
}

.question-text {
  margin: 0.5vw 0 2vw 0;
  color: #ff4a8c;
  font-size: 2vw;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  margin-bottom: 1vw;
}

.option {
  padding: 0.5vw;
  border: 0.3vw solid #ff4a8c;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  font-size: 2vw;
  color: #ff4a8c;
}

.option:hover {
  background-color: #ff4a8c;
  color: #ffffff;
  border-color: #ff4a8c;
}

.correct {
  background-color: #d4edda;
  border-color: #28a745;
  color: #28a745;
  cursor: default;
}

.incorrect {
  background-color: #ff9aa2;
  border-color: #ff0922;
  color: #ff0922;
  cursor: default;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.result {
  text-align: center;
  font-size: 2vw;
  margin: 5vw 0;
  color: #ff4a8c;
}

button {
  font-family: 'Fixedsys';
  padding: 0.5vw;
  background: #ffffff;
  color: #ff4a8c;
  border: 0.3vw solid #ff4a8c;
  cursor: pointer;
  font-size: 2vw;
  width: 39.2vw;
}

button:hover {
  background: #ff4a8c;
  color: #ffffff;
}
/* <!-- правая сторона 3 игры --> */
.right_flex_third_game {
  display: flex;
  flex-direction: column;
  gap: 2;
  width: 42vw;
  height: 36vw;
}
.text_third_game {
  width: 42vw;
  height: 16vw;
  background-image: url(../static/images/msg3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2vw;
  color: #ff4a8c;
  padding: 5vw 0vw 0vw 2vw;
}
.story {
  width: 42vw;
  height: 23vw;
  background-image: url(../static/images/story.svg);
  background-repeat: no-repeat;
  background-size: 168vw;
  font-size: 2vw;
}

/* <!------- пиксельный переход -------> */
.transition4 {
  position: relative;
  width: 100vw;
  height: 14.9vw;
}
.transition4_1 {
  width: 100vw;
  height: 15vw;
  background-image: url('../static/images/line2.svg');
  background-repeat: no-repeat;
  background-size: 200vw;
  animation: animationTransition 1s steps(2) infinite;
  animation-play-state: running;
}

/* <!------- 4 игра -------> */
.forth_game {
  position: relative;
  width: 100vw;
  height: 53vw;
  background-color: #ffffff;
}
.big_flex_forth_game {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 1.5vw;
}
.left_flex_forth_game {
  width: 44vw;
  height: 46vw;
  background-image: url(../static/images/dialoge_screen.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.key {
  transition: 0.15s;
}

.key_pressed {
  scale: 0.8;
}

.messages_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 6vw 5vw;
}

.messages {
  height: 85%;
  width: auto;
  border: solid;
  border-color: black;
  overflow-y: auto;
  margin-bottom: 0.5vw;
  padding: 1vw;
}

.messages-inner {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.message_input {
  display: flex;
  padding: 0.5vw;
  height: 15%;
  border: solid;
  border-color: black;
}

.message_input_bar {
  font-size: 2.2vw;
  width: 100%;
  border: none;
}

.message {
  font-size: 3vw;
  border: 1px solid;
  border-radius: 15px;
}

.message.user {
  background: lightblue;
  align-self: flex-end;
}

.message.bot {
  background: beige;
  align-self: flex-start;
}

.right_flex_forth_game {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 46vw;
}

.questions {
  position: absolute;
  z-index: 100;
  width: 70vw;
  height: auto;
  margin-left: 15vw;
  margin-top: 2vw;
}
.questions_hidden {
  display: none;
}
.close_questions {
  position: absolute;
  z-index: 110;
  width: 3.6vw;
  height: 3.6vw;
  margin-left: 16.5vw;
  margin-top: 3.5vw;
}

.msg4_button {
  display: flex;
  flex-direction: row;
  width: 50vw;
  height: 15vw;
  gap: 1vw;
}
.msg4 {
  width: 39vw;
  height: 14vw;
  background-image: url(../static/images/msg4.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.msg4 p {
  font-family: 'Fixedsys';
  font-weight: normal;
  font-style: normal;
  font-size: 2vw;
  color: #45893a;
  padding-top: 6.3vw;
  padding-left: 2.5vw;
}
.button_questions {
  width: 7vw;
  height: 7vw;
  background-image: url(../static/images/button_questions.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 0.7vw;
}
.keyboard {
  display: flex;
  flex-direction: column;
  width: 52vw;
  height: 35vw;
  gap: 1vw;
  background-image: url(../static/images/keyboard.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.top_buttons_forth_game {
  display: flex;
  flex-direction: row;
  width: 48vw;
  height: 24vw;
  gap: 0.5vw;
}
.part1_top_keyboard {
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  height: 21.8vw;
  width: 34.5vw;
  gap: 0.2vw;
  margin: 2.4vw 0 0 1.6vw;
  background-color: #2e5427;
}
.part1_row1,
.part1_row2,
.part1_row3,
.part1_row4,
.part1_row5 {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  width: 29.1vw;
  height: 4vw;
}
.part1_top_keyboard img,
.part2_top_keyboard img {
  width: 4vw;
  height: 4vw;
}
.part3_top_keyboard img {
  width: 6vw;
  height: 4vw;
}

.part2_top_keyboard {
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  height: 21.8vw;
  width: 9.2vw;
  gap: 0.2vw;
  margin-top: 2.4vw;
  background-color: #2e5427;
}

.part2_row1,
.part2_row2,
.part2_row3,
.part2_row4,
.part2_row5 {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  width: 9vw;
  height: 4vw;
}
.part3_top_keyboard {
  display: flex;
  flex-direction: column;
  padding: 0.5vw;
  height: 21.8vw;
  width: 7vw;
  gap: 0.2vw;
  margin-top: 2.4vw;
  background-color: #2e5427;
}
.part3_row1,
.part3_row2,
.part3_row3,
.part3_row4,
.part_row5 {
  display: flex;
  flex-direction: row;
  gap: 0.2vw;
  width: 25vw;
  height: 4vw;
}

.bottom_button_forth_game {
  width: 47vw;
  height: 5vw;
}
.probel {
  display: flex;
  flex-direction: column;
  padding: 0.5vw 0.5vw 0.5vw 0.3vw;
  height: 4vw;
  width: 47.3vw;
  gap: 0.2vw;
  margin: 0 0 0 1.6vw;
  background-color: #2e5427;
}
.probel1 {
  width: 46.6vw;
  height: 3vw;
  background-image: url(../static/images/probel.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* <!------- стиражка -------> */

.erase_volrion {
  display: flex;
  flex-direction: column;
  width: 99vw;
  height: 35vw;
  gap: 2vw;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 2vw;
  box-sizing: border-box;
}

h1 {
  color: #ff4a8c;
  font-size: 3vw;
}

#scratchCanvas {
  width: 93vw;
  height: 20vw;
  cursor: crosshair;
  background-image: url(../static/images/back_erase.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

#resetBtn {
  font-family: 'Fixedsys';
  font-size: 2vw;
  padding: 0.5vw;
  background: #ffffff;
  color: #ff4a8c;
  border: 0.3vw solid #ff4a8c;
  cursor: pointer;
}

#resetBtn:hover {
  background-color: #ff4a8c;
  color: #ffffff;
}
/* <!------- подвал покажровая анимация -------> */
.footer_transition {
  position: relative;
  width: 100vw;
  height: 15vw;
  background-color: #ffd9e7;
}
.footer1 {
  width: 100vw;
  height: 15vw;
  background-image: url('../static/images/line3.svg');
  background-repeat: no-repeat;
  background-size: 200vw;
  animation: animationTransition 1s steps(2) infinite;
  animation-play-state: running;
}
/* <!------- подвал -------> */
.footer {
  position: relative;
  width: 100vw;
  height: 6vw;
  background-color: #ffd9e7;
}
.names {
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  width: 100vw;
  height: 5vw;
  gap: 0.6vw;
}
.names p {
  padding-top: 0.9vw;
  font-family: 'Fixedsys';
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}
.name1,
.name2,
.name3,
.name4 {
  width: 24vw;
  height: 4vw;
  background-image: url(../static/images/background_for_names.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
